@font-face {
	font-family: "AdineKirnbergRegular";
	src: url("shared/assets/fonts/VoronovRegular.ttf");
}

@font-face {
	font-family: "CaviarDreamsRegular";
	src: url("shared/assets/fonts/CaviarDreamsRegular.ttf");
}

@font-face {
	font-family: "CaviarDreamsBold";
	src: url("shared/assets/fonts/CaviarDreamsBold.ttf");
}

@font-face {
	font-family: "CaviarDreamsItalic";
	src: url("shared/assets/fonts/CaviarDreamsItalic.ttf");
}

@font-face {
	font-family: "RobotoRegular";
	src: url("shared/assets/fonts/RobotoRegular.ttf");
}


